---
volumes:
  huggingface-cache: {}
  torch-cache: {}

services:
  whisperx:
    image: ghcr.io/mafrosis/whisperx:cpu
    build: .
    environment:
      - HF_TOKEN
    volumes:
      - ./:/app
      - huggingface-cache:/root/.cache/huggingface
      - torch-cache:/root/.cache/torch

  whisperx-gpu:
    image: ghcr.io/mafrosis/whisperx:gpu
    build:
      context: .
      dockerfile: Dockerfile.gpu
    environment:
      - HF_TOKEN
    volumes:
      - ./:/app
      - huggingface-cache:/root/.cache/huggingface
      - torch-cache:/root/.cache/torch
